.block-title {
  font-size: clamp(1rem, 2vw, 5rem);
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  background-color: #dbf5d3;
  text-align: center;
}

.highlight {
  background-color: #25d389;
  transform: scale(1.2);
}

.mult-result {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 100%;
  white-space: nowrap;
  min-height: 5rem;
}
.mult-result .pResult {
  font-size: 4rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  min-height: 5rem;
}

#multipltaction-table {
  padding: 1rem;
}
#multipltaction-table .mult-ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#multipltaction-table .mult-ul:nth-child(1) {
  background-color: #dbf5d3;
}
#multipltaction-table .mult-ul:hover .mult-li:nth-child(1) {
  background-color: #25d389;
  transform: scale(1.2);
}
#multipltaction-table .mult-ul:hover .mult-li:hover {
  background-color: #82cbac;
  transform: scale(1.2);
}
#multipltaction-table .mult-ul .mult-li {
  border: 0.1px solid #cacaca;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: clamp(0.7rem, 1.5vw, 2rem);
  min-width: 20%;
}
#multipltaction-table .mult-ul .mult-li:nth-child(1) {
  background-color: #dbf5d3;
}
#multipltaction-table .mult-ul .mult-li:hover {
  background-color: #dbf5d3;
}
#multipltaction-table .mult-ul .mult-li:hover:nth-child(1) {
  background-color: #25d389;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  #main-navs ul {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}
/*----------------------------------------------*/
#main-navs {
  padding: 2rem;
  position: relative;
  z-index: 10;
}
#main-navs .blob {
  width: 20rem;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
#main-navs h1 {
  margin: 0 auto;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 700;
  margin-bottom: 3rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  background-color: #25d389;
  border-radius: 0.5rem;
}
#main-navs ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}
#main-navs ul li a {
  background-image: url("../IMG/application-svgrepo-com.svg");
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  border: 2px solid #25d389;
  transition: 0.3s;
}
#main-navs ul li a:hover {
  background-color: #25d389;
  border: 2px solid #373737;
}
#main-navs ul li a img {
  width: 6rem;
  height: 6rem;
  background-color: #25d389;
  border-radius: 10%;
  padding: 0.5rem;
}
#main-navs ul li a:hover img {
  background-color: #373737;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=block-stlye.css.map */