@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

p {
  font-weight: 400;
  color: #373737;
  font-size: clamp(1rem, 2vw, 3.5rem);
}

h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.header__container {
  padding: 1rem 5rem;
}
.header__container ul {
  /*   list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  text-align: center;
}
.header__container ul #logo {
  background: none;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  transition: 0.7s ease-in-out;
}
.header__container ul #logo:hover {
  transform: rotate(180deg);
}
.header__container ul #logo a {
  padding: 0;
  padding-top: 10%;
}
.header__container ul #logo a img {
  width: 100%;
}
.header__container ul li {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  height: 100%;
  border-radius: 5px;
  background-color: #25d389;
  cursor: pointer;
}
.header__container ul li:hover {
  background-color: #373737;
}
.header__container ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header__container ul li a img {
  width: 3rem;
}

#world {
  margin-top: 0.5rem;
  animation: movesonX 3s ease-in-out infinite;
}

@keyframes movesonX {
  0% {
    transform: translateX(-3rem);
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(-3rem);
  }
}
.main__container {
  padding: 5rem;
}

#welcome {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  text-align: center;
}
#welcome p {
  max-width: 50rem;
}

#easy {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1.8fr 1.5fr;
  gap: 20%;
  align-items: center;
}
#easy .math-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#easy .math-text a {
  color: #82cbac;
}
#easy .math-text h2 {
  font-weight: 700;
}
#easy .math-text p {
  margin-top: 1rem;
}
#easy .photo img {
  width: 100%;
}

.img-hovered {
  transition: transform 0.4s ease-in-out;
}
.img-hovered:hover {
  transform: scale(1.1);
}

.general {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20%;
}
.general .photo {
  min-width: 15rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.general .inner {
  animation: slideIn 1s ease-in-out;
}
.general .subtitle {
  font-size: 1rem;
}

#important {
  margin-top: 15rem;
}
#important h2 {
  text-align: center;
  font-size: 4rem;
}
#important .divide-two {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  align-items: center;
  gap: 10%;
}
#important .divide-two ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
#important .divide-two ul li {
  display: flex;
  flex-direction: column;
}
#important .divide-two ul li .subt {
  color: white;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  text-align: center;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 4rem;
  font-size: 1rem;
}
#important .divide-two ul li p {
  margin-top: 1rem;
}
#important .divide-two ul li:nth-child(1) .subt {
  background-color: #82cbac;
}
#important .divide-two ul li:nth-child(2) .subt {
  background-color: #ff7f96;
}
#important .divide-two ul li:nth-child(3) .subt {
  background-color: #ead71b;
}
#important .divide-two .photo img {
  width: 100%;
}

#line {
  width: 100%;
  margin-top: 10rem;
  height: 30rem;
  background-color: #82cbac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
}

.btn {
  color: white;
  background-color: #373737;
  padding: 1rem;
  text-align: center;
  width: 10rem;
}
.btn:hover {
  background-color: white;
  color: #373737;
}

#functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
#functions h3 {
  text-align: center;
}
#functions ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  text-align: center;
}
#functions ul li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#functions ul li .link {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
#functions ul li a img {
  opacity: 0.5;
}
#functions ul li a img:hover {
  opacity: 1;
}
#functions .btn {
  margin: 0 auto;
}
#functions .btn:hover {
  background-color: #82cbac;
}

#index-footer {
  background-color: #373737;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
#index-footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
#index-footer p {
  color: white;
}

@media screen and (max-width: 768px) {
  .main__container {
    padding: 2rem;
  }
  #easy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .general {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #important .divide-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #line {
    padding: 2rem;
    gap: 1rem;
  }
  #functions ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  header ul {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  header ul li {
    padding: 0.5rem;
  }
  #easy .math-text h2 {
    font-size: 1.5rem;
  }
  .general .inner p {
    font-size: 1rem;
  }
  #important h2 {
    font-size: 2rem;
  }
  #line {
    padding: 1rem;
  }
  #functions ul {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */